/* Homepage Hero */

:root {
    --first-color: #343434;
    --second-color: #055e68;
    --third-color: #62a388;
    --fourth-color: #e1e9e9;
    --fifth-color: #b9d2d2;
}

body, a {
    color: var(--first-color);
}

h1, h4 {
    font-family: 'Playfair Display', serif;
}

h2, h3, p, ul, a { font-family: 'Poppins', sans-serif;}


 nav .emoji  {

 font-size: 60px;

}
nav ul {
   margin: 50px 0px 0px 0px;
    padding: 0px;
    max-height:60px;}

nav li {
    list-style: none;
    display: inline;
}

li a {
    text-decoration: none;

}

nav li.active a, nav li a:hover, 
footer a:hover {
    color: var(--second-color);
}

.hero {
    text-align: center;
    background-color: var(--fifth-color);
    padding: 160px 0px;
}
.hero p {
    font-weight: bold;
    font-size: 36px;
 margin: 0px;
}

.hero h2 {
    font-size: 24px;
}
.hero h1 {
    font-family:'Playfair Display', serif;
    font-size: 96px;
    margin-bottom: 20px;
    font-weight: bold;
}

.btn-lets-chat{
    border-radius: 4px;
    background: var(--second-color);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--fourth-color);
}

.btn-content-btn {
    background: white;
    border: 3px solid var(--fourth-color);
    font-family: 'Poppins', sans-serif;
    color: var(--first-color);
}


.content-section {
    padding: 80px 20px;
  }

  .content {
    margin: 30px;
  }
  .content h1 {
    font-size: 64px;
    line-height: 80px;

  }
  
  .content h2 {
    font-size: 32px;
    font-weight: bold;
  }

  .content h3 {
      font-weight: bold;
      font: 24px;
  }
  
.my-face {
      max-height: 550px;
      margin-top: 50px;
      border-radius: 35px;
  }


  footer {
      padding: 40px;
     
  }
  .contact-box {
      max-width: 900px;
      padding: 25px 45px;
      border-radius: 35px;
    background-color: var(--fourth-color);
 margin: 50px 0px 30px 0px
  }

  .contact-box .btn-lets-chat {
      padding: 20px;
      margin-top: 2px;
  }


/* Media */

@media (max-width:767px) {


    .img {display: none;}

    .hmpg-content {
        text-align: center;
    }

    .hero h1 {
        font-size: 65px;
    }

    .hero h2 {
        margin: 0px 20px ;
    }

    .content-section  {
    text-align: center;
       padding-top: 80px;
    }

    .my-face {
        max-width: 290px;}

  .img-bckgrnd {
    background: var(--fourth-color);
    padding-bottom: 50px;
     
  }
}
