/* Homepage Hero */

:root {
    --first-color: #343434;
    --second-color: #055e68;
    --third-color: #62a388;
    --fourth-color: #b9d2d2;
    --fifth-color: #b9d2d2;
}

body {
    color: var(--first-color);
}

h1 {
    font-family: 'Playfair Display', serif;
}

h2, h3, p { font-family: 'Poppins', sans-serif;}

.hero {
    text-align: center;
    background-color: var(--fourth-color);
    padding: 160px 0px;
}
.hero p {
    font-weight: bold;
    font-size: 36px;
 margin: 0px;
}

.hero h2 {
    font-size: 24px;
}
.hero h1 {
    font-family:'Playfair Display', serif;
    font-size: 96px;
    margin-bottom: 20px;
    font-weight: bold;
}

.btn-lets-chat{
    border-radius: 4px;
    background: var(--second-color);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--fourth-color);
}

.btn-content-btn {
    background: white;
    border: 3px solid var(--fourth-color);
    font-family: 'Poppins', sans-serif;
    color: var(--first-color);
}


/* Media */

@media (max-width:767px) {
    .img {display: none;}

    .hmpg-content {
        text-align: center;
    }

    .hero h1 {
        font-size: 65px;
    }

    .content-section  {
    text-align: center;
       padding-top: 80px;
    }

    .my-face {
        max-width: 290px;}

  .img-bckgrnd {
    background: var(--fourth-color);
    padding-bottom: 50px;
     
  }
}

.content-section {
    padding: 80px 20px;
    background: var();
  }

  .content {
    margin: 30px;
  }


  .content h1 {
    font-size: 64px;
    line-height: 80px;

  }
  
  .content h2 {
    font-size: 32px;
    font-weight: bold;
  }

  .content h3 {
      font-weight: bold;
      font: 24px;
  }
  
.my-face {
      max-height: 550px;
      margin-top: 50px;
      border-radius: 35px;
  }